

body {

  margin: 0;

  font-family: 'Source Sans Pro', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;
  color: #333;
  background: #fff; /* 374046, 39f */
}


.main-header{
  background-color: #39f;
  height: 150px;
  padding-top: 40px;
  color: #fff;
  margin-bottom: 40px;
}

.subtitle{
  font-size: 18px;
  margin-top: 4px;
}

.stay-center{
  margin: 0 auto;
}

.center-flash{
  width: 670px;
  margin: 0 auto;
}

.center-flash h1{
  margin: 50px auto 20px auto;
}

.flash-heading{
  margin: 0 auto;
  font-family: 'Dosis', sans-serif;
}

.footer{
  margin-top: 10px;
}



.btn, .btn-sm, .btn-md, .btn-lg{
  border-radius: 2px;
}

button{
  cursor: pointer;
}

.same-size{
  width: 160px;
}

.back-btn{
  margin-bottom:  40px;
}

.back-btn .fa{
  margin-right: 6px;
}

.btn-outline-secondary:hover{
  color: #000;
}

.btn-primary, .btn-info, .btn-danger, .btn-default, .btn-success, .btn-blue, .btn-green, .btn-purple{
  border-color: transparent;
   /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); */
}

.same-size .fa{
  font-size: 21px;
  margin-right: 5px;
}

.btn-purple{
  color: #fff;
  background-color: #673ab7;
}

.btn-purple:hover {
  color: #fff;
  background-color: #58319b;
}

.btn-blue{
  color: #fff;
  background-color: #2196f3;
}

.btn-blue:hover {
  color: #fff;
  background-color: #0961aa;
}

.btn-green{
  color: #fff;
  background-color: #009688;
}

.btn-green:hover {
  color: #fff;
  background-color: #00665c;
}

.btn-green-light{
  color: #fff;
  background-color: #22dd99;
}

.btn-green-light:hover {
  color: #fff;
  background-color: #1cb07a;
}

.btn-lg{
  font-size: 1.0rem;
  font-weight: bold;
}

.alert-danger, .alert-success, .alert-info, .alert-warning{
  border-color: transparent;
}

.alert-success{
  background-color: #99ffd6;
}

.alert-danger{
  background-color: #ffb3c2;
  color: #933b39;
}

.alert-grey{
  background-color: #9e9e9e;
  color: #fff;
}

.alert-info{
  background-color: #86c5f9;
}

.alert{
  font-size: 16px;
  font-weight: bold;
}

h1{
  font-size: 34px;
  font-weight: 300;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 18px;
}

h5{
  font-size: 14px;
}

h5{
  font-size: 12px;
}


/* https://css-tricks.com/examples/hrs/ */
/* hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #282c34, #333);
} */


.hljs{
  background: #f2f2f2;
}

.hljs-string{
  color: #3da978;
}

.material-icons{
  vertical-align: middle;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}